---
interface Props {
  size?: "leaderboard" | "rectangle" | "tile";
}
---

<!-- admitad.banner: om86773ouc67a6d0fce8a804937a48 Читай-город -->
<a
  target="_blank"
  rel="nofollow noopener sponsored"
  href="https://kjuzv.com/g/om86773ouc67a6d0fce8a804937a48/?i=4&erid=2bL9aMPo2e49hMef4pgVKTDNgo"
>
  <img
    width="468"
    height="60"
    border="0"
    src="https://aflink.ru/b/om86773ouc67a6d0fce8a804937a48/"
    alt="Читай-город"
    class="w-full h-auto max-w-[468px] mx-auto rounded-lg"
    loading="lazy"
  />
</a>
<!-- /admitad.banner -->
